.single-container.sign-up-done
  = render 'shared/single_header'

  .single-main
    .single-panel
      .single-panel__sign-up
        %h2 会員登録完了

      .single-panel__inner
        .single-panel__contents
          %p
            ありがとうございます。
            %br 会員登録が完了しました。
          = link_to "次へ進む", "", class: 'red-submit-btn'

  = render 'shared/single_footer'
