/* main contents*/
.mypage-content {
  float: left;
  width: 700px;

  &__user-icon {
    position: relative;
    height: 200px;
    padding: 20px;
    text-align: center;
    background-image: image-url('user-bg');
    background-repeat: no-repeat;
    background-size: cover;

    a {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      display: block;
      color: #333;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }

    figure {
      width: 60px;
      height: 60px;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 50%;
    }

    image {
      vertical-align: middle;
    }

    h2 {
      z-index: 0;
      margin: 8px 0 0;
      font-size: 14px;
    }
  }

  &__number {
    margin: 8px 0 0;
    font-size: 0;

    &__item {
      display: inline-block;
      margin: 0 0 0 16px;
      font-size: 14px;

      &:first {
        margin: 0;
      }

      span {
        font-weight: bold;
        font-size: 16px;
      }
    }
  }
}
